<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <title>PGP File Encryption/Decryption</title>
</head>
<body>
    <div class="body">
        <div class="heading">
            <h1>Crytography Application</h1>
            <h2>Creat a Public Key:</h2>
            <div class="input">
                <form action="/created" method="post" enctype="multipart/form-data">
                    <label for="email">Email: </label>
                    <input id="email" type="email" name="email">
                    <label for="password-input">Password: </label>
                    <input type="password" id="password-input" name="password-input"><br><br>
                    <input class="button" type="submit" value="Creat">
                    <br>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="encrypt">
                
                <form action="/encrypt" method="POST" enctype="multipart/form-data">
                    <h2>Encrypt File</h2>
                    <label for="publicKeySelect">Select Public Key: </label><br><br>
                    <select name="gpg_key" id="gpg_key">
                        {% for keyid, uid in keys %}
                          <option value="{{ keyid }}">{{ uid }} ({{ keyid }})</option>
                        {% endfor %}
                    </select>
                    <p></p>
                    <label for="file">File:</label><br><br>
                    <input id="file" type="file" name="file" required><br><br>
                    <input class="button" type="submit" value="Encrypt">
                </form>
            </div>
            <div class="decrypt">
                <h2>Decrypt File</h2>
                <form action="/decrypt" method="POST" enctype="multipart/form-data">
                <label for="file">File:</label><br><br>
                <input type="file" name="file" required><br><br>
                <label for="passphrase">Passphrase:</label>
                <textarea id="passphrase" type="password" name="passphrase" rows="4" cols="30" required></textarea><br><br>
                <input class="button" type="submit" value="Decrypt">
                </form>
            </div>
        </div>  
    </div>
    {% if message %}
  <script>
    alert("{{ message }}");
  </script>
  {% endif %}
</body>
</html>