<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <div class="body">
            <h1>Welcome to the Hash Calculator</h1>
            <h2>Please choose a file:</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <button type="submit">Yükle</button>
            </form>
            <div>
                <p>Full File Hash:</p>
                <pre>{{ text_output_full }}</pre>
            </div>
            <div>
                <p>Split File Hashes:</p>
                <pre>{{ text_output_split }}</pre>
            </div>
            
    </div>
</body>
</html>