<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <div class="body">
        <div class="input">
            <h1>Welcome to the Hash Calculator</h1>
            <h2>Please choose a file:</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <button type="submit">Yükle</button>
            </form>
        </div>
        <div class="results">
            <p>{{ json_output }}</p>
        </div>
    </div>
</body>
</html>